/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: black;
}

/* Header */
main {
    margin: 60px auto 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #262626;
    flex: 1; /* Permite que o main cresça e empurre o footer para baixo */
}

.main-header {
    background-color: #111111;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10; 
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    text-align: center;
    max-width: 800px;
    color: white;
}

/* Seções */
section {
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}


.video-container {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    z-index: 1;
}

.video-container iframe {
    max-width: 640px;
    max-height: 360px;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.service-card {
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

footer {
    position: relative;
    width: 100%;
    padding: 1rem 2rem;
    background-color: #333;
    color: white;
    margin-top: auto;
    background-color: #601818; /* Empurra o footer para a parte inferior */
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;          /* Alterado de grid para flex */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    gap: 2rem;
    background-color: #601818;
}

.footer-image {
    max-width: 150px;      /* Ajusta o tamanho máximo da imagem */
    height: auto;
}

.footer-disclaimer {
    text-align: center;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 0.9rem;
    line-height: 1.4;
}

.footer-disclaimer p {
    margin: 0.3rem 0;
}

.footer-nav ul {
    list-style: none;
}

.message-image {
    max-width: 100%;
    height: auto;
    padding-top: 20px;
}

/* Media queries para responsividade */
@media (max-width: 768px) {
    .video-container {
        width: 95%; /* Um pouco mais largo em telas pequenas */
    }
    
    .video-container iframe {
        max-width: 100%;
        height: auto;
    }
}